body{
  background-color: rgb(221, 221, 221);
}

.content{
background-color: rgb(255, 253, 236);
height:auto;
padding: 3%;
min-height: calc(100vh - 205px);
}

.App {
  text-align: center;
}