.animContainer{
  z-index: auto;
  overflow:hidden;
  position: absolute;
  width: 100%;
  min-height: calc(100vh - 12.45em);
}

/*MARSUPILAMI ANIMATION*/
.anim-marsup{
    animation-name:  marsup-anim ;
    animation-duration: 100s; /*100s*/
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-delay: 0s;  /*30s*/
  
    position: absolute;
    top: -100%;
  }  
  @keyframes marsup-anim {
    0% {top: -100%;}
    10% {
      transform: translateX(0%);
      transform-origin: 50% 50%;
      top: -100%;
    }
  
    2.5% {
      transform: translateX(-30px) rotate(6deg);
      top: -10%;
    }
  
    4.5% {
      transform: translateX(15px) rotate(-6deg);
    }
  
    5.5% {
      transform: translateX(-15px) rotate(3.6deg);
    }
  
    6.5% {
      transform: translateX(9px) rotate(-2.4deg);
    }
  
    8% {
      transform: translateX(-6px) rotate(1.2deg);
      top: -10%;
    }
  }

/*DBZ CLOUD ANIMATION*/
.anim-dbz{
  animation-name:  dbzcloud-anim ;
  animation-duration: 10s; /*10s*/
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: normal;
  animation-delay: 0s;  /*30s*/

  position: absolute;
}
@keyframes dbzcloud-anim {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(300%);
  }
  100%{
    transform: translateX(300%);
  }
}


/*SignalBat Animation*/
.anim-signalbat{
  animation-name:  signalbat-anim ;
  animation-duration: 5s; /*10s*/
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: normal;
  animation-delay: 0s;  /*30s*/

  position: absolute;
}
@keyframes signalbat-anim {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }
  40%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}


/*gaston animé*/
.anim-gaston{
  animation-name:  gaston-anim ;
  animation-duration: 100s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: normal;
  animation-delay: 0s; 

  position:absolute
}