body{
  background-color: #FFE429;
}

.content{
position: relative;
background-color: #FFE429;
height:auto;
padding: 0%;
min-height: calc(100vh - 12.45em);
}

.ListContent{
position: inherit;
z-index: 1;
padding-top: 3%;
}

.App {
  text-align: center;
}

.card{
  border: none !important;
  margin-right: 0.8%;
  background-color:#FFE429;
  text-align: center;
}
.card:hover{
  transition: 0.5s;
  box-shadow: 0 4px 8px 0 rgb(233, 205, 81), 0 6px 20px 0 rgb(233, 205, 81);
}

.priceBD{
  font-size: 15px;
  color: red;
  text-decoration: none !important;
}


.filter{
  display: flex;
  float: right;
  margin-bottom:20px;
  border-radius:5px;
  padding:0.5%;
  text-align:center;
  background-color:rgb(255, 253, 236);
}


#titleDetail{
  font-size: 45px;
  text-align: center;
}


.page-link {
  position: relative;
  display: block;
  color: black;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #ffa600;
  border-color: #ffa600;
}


.infoHorraire td{
  border: none;
  font-weight: bold;
  font-size: 20px;
  text-align: justify;
}
.infoHorraire .tdInfoHorraire{
  text-align: center;
  
}
.infoHorraire{
  border:none;
}

.centered {
  background-image: url('../Images/vitrine.png');
  background-size: 135vh;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.horaire{
  position: absolute;
}

.horaireCol{
  font-weight: bold;
}


/*Lucky Luke walking Animation*/
.anim-luckylukewalking{
  animation-name:  luckylukewalking-anim ;
  animation-duration: 60s; /*60s*/
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: normal;
  animation-delay: 10s;  /*10s*/

  position: absolute;
  left: -100%;
  bottom: 0;
}
@keyframes luckylukewalking-anim {
  0% {
    left: -100%;
  }
  4%{
    left: -10%;
  }
  5%{
    left: 0%;
  }
  50%{
    left: 100%;
  }
  100%{
    left: 100%;
  }
}


/*Gaston sleeping Animation*/
.anim-gastonsleeping{
  animation-name:  gastonsleeping-anim ;
  animation-duration: 60s; /*60s*/
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: normal;
  animation-delay: 40s;  /*40s*/

  position: absolute;
  left: -1%;
  top:-50%;

}

@keyframes gastonsleeping-anim {
  0% {
    top: -50%;
  }
  6%{
    top: 0%;
  }
  35%{
    top: 0%;
  }
  40%{
   top: -50%; 
  }
  100%{
    top: -50%;
  }
}