body{
  background-color: #FFE429;
}

.content{
background-color: #FFE429;
height:auto;
padding: 0%;
min-height: calc(100vh - 12.45em);
}

.ListContent{
padding-top: 3%;
}

.App {
  text-align: center;
}

.card{
  border: none !important;
  margin-right: 0.8%;
  background-color:#FFE429;
  text-align: center;
}
.card:hover{
  transition: 0.5s;
  box-shadow: 0 4px 8px 0 rgb(233, 205, 81), 0 6px 20px 0 rgb(233, 205, 81);
}

.priceBD{
  font-size: 15px;
  color: red;
  text-decoration: none !important;
}


.filter{
  float: right;
  margin-bottom:20px;
  border-radius:5px;
  padding:0.5%;
  text-align:center;
  background-color:rgb(255, 253, 236);
}


#titleDetail{
  font-size: 45px;
  text-align: center;
}