body{
  background-color: #FFE429;
}

.content{
background-color: #FFE429;
height:auto;
padding: 3%;
min-height: calc(100vh - 12.45em);
}

.App {
  text-align: center;
}

.card{
  border: none !important;
  margin-right: 0.8%;
  background-color:#FFE429;
  text-align: center;
}

.priceBD{
  font-size: 15px;
  color: red;
}